* {
  margin: 0;
  padding: 0;
}

body {
  width: 1800px;
}

#name,
#nameEn,
#nameKor {
  padding: 10px 5px 5px 20px;
  color: #214151;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

#nameEn:hover,
#nameKor:hover {
  padding-left: 20px;
  text-align: center;
  color: #f8dc81;
  transition: all 0.5s ease-in;
}

#nameKor {
  margin: 0 42px;
}

nav {
  width: 1200px;
  height: 60px;
  padding: 1px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.menu {
  padding: 12px;
  color: #a2d0c1;
  font-size: 25px;
  text-decoration-line: none;
}

.menu:hover {
  background-color: #eff7e1;
  transition: all 0.5s ease-in;
}

main {
  margin: 50px 30px;
}

main img {
  width: 50%;
  margin-left: 250px;
  margin-top: 80px;
}

main .info {
  margin-top: 30px;
  margin-left: 250px;
  font-size: 17px;
}

#resume,
#contact {
  margin: 220px 10px 10px 100px;
}

h2 {
  color: #214151;
  font-size: 30px;
}

.subtitle1,
.subtitle2 {
  font-size: 22px;
  font-weight: 700;
  margin: 50px 10px 10px 250px;
  float: left;
}

main section {
  width: 300px;
  text-align: left;
}

.contents1,
.contents2,
.contents3,
.contents4 {
  font-size: 15px;
  margin: 50px 500px 10px 0px;
  float: right;
}

.contents5 {
  margin: 100px 600px 100px 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#contact,
.subtitle2,
.contents2,
.contents4 {
  clear: both;
}

.period1,
.period2,
.period3,
.period4 {
  font-size: 17px;
  margin: 50px 10px 10px 150px;
  float: right;
}

.blank {
  clear: both;
  width: 100%;
  height: 200px;
}

.pageUp {
  clear: both;
  margin: 50px 350px 200px 0;
  display: flex;
  justify-content: flex-end;
}

.pageUp a {
  text-decoration-line: none;
  font-size: 50px;
  color: #f8dc81;
}

footer {
  clear: both;
  height: 40px;
  margin: 100px 0 80px 150px;
  color: gray;
  font-size: 12px;
}

@media (max-width: 300px) and (max-width: 800px) {
  body {
    width: 90%;
  }

  nav {
    width: 600px;
  }

  main img {
    width: 65%;
    margin-top: 80px;
    align-items: center;
  }

  #resume,
  #contact {
    margin: 100px 10px 10px 100px;
  }

  .subtitle1,
  .subtitle2 {
    margin: 50px 10px 10px 100px;
  }

  .contents1,
  .contents2,
  .contents3,
  .contents4 {
    margin: 50px 100px 10px 0px;
  }

  .contents5 {
    margin: 100px 300px 100px 200px;
  }

  .period1,
  .period2,
  .period3,
  .period4 {
    margin: 50px 5px 10px 100px;
  }

  .blank {
    height: 50px;
  }

  .pageUp {
    margin: 50px 200px 50px 0;
  }

  footer {A2D0C1
    clear: both;
    height: 40px;
    padding: 100px 0 80px 150px;
    color: gray;
    background-color: #a2d0c1;
    font-size: 12px;
  }
}
